/* General Styles */
body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   background-color: #f0f0f0;
}

/* Container Styles */
.container {
   position: relative;
   width: 80%; /* Container width */
   margin: 0 auto; /* Center align */
   text-align: center; /* Center align text */
   padding-top: 2em; /* Top padding */
}

/* Game Name Styles */
.game-name {
   letter-spacing: 0.15em;
   font-family: 'Lora', serif;
   font-weight: 700;
}

/* Options Styles */
.options {
   margin-bottom: 20px; /* Bottom margin */
}

/* Label Styles */
label {
   font-size: 18px;
   margin-right: 10px;
   font-family: 'Lora', serif;
   font-weight: 500;
}

/* Select Styles */
select {
   padding: 8px;
   font-size: 16px;
   border-radius: 5px;
   margin-right: 5px;
}

/* Start Button Styles */
#startButton {
   padding: 10px 20px;
   font-size: 16px;
   border: none;
   border-radius: 5px;
   background-color: #007bff;
   color: #fff;
   cursor: pointer;
   transition: background-color 0.3s;
}

#startButton:hover {
   background-color: #0056b3;
}

.helper-icon {
   cursor: pointer;
   text-align: right;
   font-size: 24px;
   color: #007bff;
}

.helper-text {
   display: none;
   margin-bottom: 20px;
   text-align: right;
}

.helper-text h2 {
   font-size: 24px;
   margin-bottom: 10px;
   text-align: right;
}

.helper-text p {
   font-size: 16px;
   line-height: 1.6;
   text-align: right;
}

.instructions-list {
   list-style-type: none;
   counter-reset: item;
   text-align: right;
   padding: 0;
}

.instructions-list li {
   margin-bottom: 10px;
}

.instructions-list li::before {
   content: counter(item) '. '; /* Numbered list item */
   counter-increment: item;
   font-weight: bold;
}

/* Language Styles */
#language {
   font-family: 'Lora', serif;
   font-weight: 700;
}

/* Typing Area Styles */
.typing-area {
   border: 2px solid #ccc;
   border-radius: 5px;
   padding: 10px;
   margin-bottom: 20px;
}

/* Paragraph Styles */
#paragraph {
   font-family: monospace, sans-serif, 'Lora', serif;
   line-height: 1.8em;
   font-size: 20px;
}

/* User Input Styles */
#userInput {
   margin-top: 20px;
   padding: 10px;
   font-size: 16px;
   border-radius: 10px;
   min-height: 2em;
   min-width: 60%;
   max-width: 80%;
}

/* Result Styles */
#result {
   opacity: 1;
   margin-top: 20px;
   font-size: 18px;
   font-family: 'Lora', serif;
   font-weight: 600;
   justify-content: center;
   align-items: center;
}

/* Options List Styles */
.options-list {
   display: flex;
   align-items: center;
   justify-content: center;
}

/* Timer, Errors, CPM, WPM Styles */
.timer,
.errors,
.cpm,
.wpm {
   height: 60px;
   width: 70px;
   margin: 8px;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: space-around;
   justify-content: space-around;
   align-items: stretch;
}

/* CPM, WPM Styles */
.cpm,
.wpm {
   display: none;
}

/* Header Text Styles */
.header_text {
   font-size: 20px;
   font-family: 'Lora', serif;
   font-weight: 700;
}

/* Box Styles */
.box {
   border: 2px solid #ccc;
   border-radius: 5px;
   padding: 10px;
   margin-bottom: 20px;
}

/* Board Styles */
.board {
   width: 60%;
   margin: 50px auto;
   padding: 20px;
   background-color: #fff;
   border: 2px solid #ddd;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Board Heading Styles */
.board h2 {
   font-family: 'Lora', serif;
   font-weight: 700;
   letter-spacing: 0.15em;
}

/* Heading Styles */
h2 {
   text-align: center;
   margin-bottom: 20px;
}

/* Table Styles */
table {
   width: 100%;
   border-collapse: collapse;
}

th,
td {
   padding: 10px;
   border-bottom: 1px solid #ddd;
   text-align: center;
}

/* Table Header Styles */
th {
   background-color: #f2f2f2;
   font-family: 'Lora', serif;
   font-weight: 500;
}

/* Refresh Button Styles */
#refreshButton {
   padding: 10px 20px;
   font-size: 16px;
   border: none;
   border-radius: 5px;
   background-color: #007bff;
   color: #fff;
   cursor: pointer;
   transition: background-color 0.3s;
}

#refreshButton:hover {
   background-color: #0056b3;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
   .container {
      width: 90%;
      padding-top: 50px;
   }

   .board {
      width: 90%;
   }
}

@media screen and (max-width: 480px) {
   .container {
      width: 95%;
      padding-top: 30px;
   }

   .board {
      width: 95%;
   }

   .options-list {
      flex-direction: column;
   }

   .timer,
   .errors {
      width: 100%;
      margin-bottom: 10px;
   }

   .game-name {
      font-size: 24px;
   }

   .options {
      flex-direction: column;
   }

   select {
      width: 100%;
      margin-bottom: 10px;
   }

   #startButton,
   #refreshButton {
      width: 100%;
      margin-top: 10px;
   }
   #userInput {
      width: 90%;
      max-width: 100%;
      margin: 0 auto;
   }
   table {
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
   }
}

@media screen and (max-width: 400px) {
   .container {
      width: 90%;
      padding-top: 50px;
      margin: 0 auto;
   }

   .board {
      width: 90%;
   }
}
